.contact-title {
  margin-top: 100px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  transition: all 20s ease-in-out;
}
.contact-title h1 {
  font-size: 50px;
  line-height: 10px;
}
.contact-title h2 {
  font-size: 30px;
  line-height: 10px;
  transition: all;
}

:root {
  --white: #ffffff;
  --coral: coral;
  --pink: pink;
}
a:hover {
  background-color: cadetblue;
}

ul {
  list-style-type: none;
  display: flex;
}

li {
  margin: 10px;
  padding: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: var(--coral);
}
form {
  margin-top: 50px;
  transition: all 4s ease-in-out;
}

.form-control {
  width: 600px;
  background: transparent;
  border: white;
  outline: none;
  border-bottom: 1px solid gray;
  color: #fff;
  font: size 18px;
  margin-bottom: 16px;
}
a:hover {
  background-color: cadetblue;
}

input {
  height: 45px;
}

form .submit {
  background: #c43409;
  border-color: transparent;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
}
